{% extends "base.html.twig" %}
{% block title %}Mes rendez-vous{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid bg-primary">
        <div style="height: 200px" class="row d-flex-column justify-content-center align-items-center dodo">
            <div style="width: 200px; height: 200px" class="d-flex justify-content-center align-items-center px-0 mt-1 me-1">
                <img  class="rounded-circle w-75 h-75 object-fit-cover" src="{{ asset('assets/images/defaut-avatar-profil.jpg') }}" alt="Avatar du profil">
            </div>

        </div>
    </div>
    <div class="container py-3">
        <div class="border rounded shadow">
            <h3 class="text-center">{{ app.user.fullName }}</h3>

        </div>

        <div class="d-block align-items-center border rounded shadow mt-3">
            <h4 class="text-center text-decoration-underline">Demande de rendez-vous en cours</h4>
            {% if appointments is not empty %}

                {% for i in appointments %}
                    {% if i.status == "En attente" %}

                        <div class="d-flex justify-content-center align-items-center">
                            <p class="me-5">{% if i.patient.user.civility.sexe is same as true %}Mr. {% else %}Mme. {% endif %}{{ i.patient.user.fullName }}, le {{ i.dateOfAppointment|date('d/m/y')}} à {{ i.startHour|date('h:i') }}</p>
                            
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Il n'y aucun rendez-vous en attente de validation</p>
            {% endif %}
        </div>
        <div class="row d-flex border rounded shadow mt-3 mx-auto" >
            <div class="col-6 border-end border-primary-subtle">
                <h4 class="text-center text-decoration-underline">Rendez-vous à venir</h4>
                <p class="fst-italic text-center">Civilité Nom Prénom (Jour rdv, heure rdv)</p>
                {% if appointments is not empty %}
                    <ul>
                        {% for i in appointments %}
                            {% if i.status == "Accepted" and i.dateOfAppointment > date('now') %}
                                <div class="d-flex justify-content-center align-items-center">
                                    <p class="me-5">{% if i.patient.user.civility.sexe is same as true %}Mr. {% else %}Mme. {% endif %}{{ i.patient.user.fullName }}, le {{ i.dateOfAppointment|date('d/m/y')}} à {{ i.startHour|date('h:i') }}</p>
                                    <div>
                                        {#  <button class="btn btn-success me-2">Accepter</button>
                        <button class="btn btn-danger">Refuser</button>#}
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Il n'y aucun rendez-vous en attente de validation</p>
                {% endif %}
            </div>
            <div class="col-6">
                <h4 class="text-center text-decoration-underline">Rendez-vous passés</h4>
                <p class="fst-italic text-center">Civilité Nom Prénom (Jour rdv, heure rdv)</p>
            </div>
        </div>
    </div>





{% endblock %}