{% extends "base.html.twig" %}
{% block title %}Présentation du docteur{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid bg-primary">
        <div style="height: 200px" class="row d-flex-column justify-content-center align-items-center">
            <div style="width: 200px; height: 200px" class="d-flex align-items-center px-0 mt-1 me-1">
                <img  class="img-fluid rounded-circle" src="/assets/images/Doctor_{{doctor.id }}.png" alt="Avatar du profil">
            </div>

        </div>
    </div>
    <div class="container py-3">
    <h3 class="text-center">{{ doctor.user.fullName }}</h3>
        <div class="mt-3">
            <p class="text-center">{{ doctor.specialization }}</p>
            <p class="text-center">{{ doctor.user.email }}</p>
            <p class="text-center">{{ doctor.user.phone }}</p>
            <p class="text-center">{{ doctor.user.address }}</p>
        </div>
        {% if not is_granted("ROLE_DOC") %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('doc_appointement',{'id':id}) }}"><button class="btn vali">Prendre rendez-vous</button></a>
        </div>
        {% endif %}


    </div>
{% endblock %}