{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div style="height: 150px" class="row d-flex justify-content-end bg-primary">
            <div style="width: 80px; height: 80px" class="px-0 mt-1 me-1">
                <img  class="img-fluid rounded-circle" src="{{ asset('assets/images/defaut-avatar-profil.jpg') }}" alt="Avatar du profil">
            </div>
            <div class="d-flex justify-content-center align-items-center">
                {% if  app.user %}
                    <p class="text-white text-center h1">{{ app.user.fullName }}</p>
                {% endif %}


            </div>
        </div>
    </div>
    <div class="container py-3">
        <h3 class="text-center">Modifiez votre mot de passe</h3>
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{message }}
            </div>
        {% endfor %}
        <div class="col-6 mx-auto border rounded shadow p-3 my-3 ">
            <form class="infosPatient" action="" method="post">
                {{ form_start(form) }}

                {{ form_end(form) }}
        </div>
    </div>

{% endblock %}